.container {
  padding: 0 2rem;
  height: 100vh;
  display: flex;
  align-items: center; 
  justify-content: center;
  background-color: rgba(31,31,31, 0.49);
}

.title {
  font-family: Helvetica;
  position: relative;
  text-align: center;
  letter-spacing: 1rem;
  /* color: rgb(167, 167, 167); */
  color: rgb(255, 255, 255);
  width: fit-content;
  margin-top: 2%;
}



.bookInput[type="url"] {
    font-size: 50px;
}
.bookInput[type="text"] {
    font-size: 50px;
}

.title {
  transition: all 0.5s ease;
  /* your existing styles */
}

.topRepoList {
  display: block;
  margin-left: 30px;
  margin-right: 0;
  left: 50%;
  width: 90vw;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  height: 170px;
  background-color: rgb(0.49, 0.49, 0.49, 0.49);
  overflow: auto;
  border-radius: 20px;
}

.ignoreHeader {
  color: #cacaca;
}

.ignoreFilesList {
  color: #cacaca;
}

.ignoreInput {
  border: none;
  border-bottom: 1px solid rgb(255, 94, 0);
  background-color: transparent;
  font-size: 20px;
  padding-top: 10px;
  outline: none;
  color: #ffffff;
}


.topRepoInput {
  min-width: 80vw;
  min-height: 60%;
  text-align: center;
  font-size: 150%;
  align-items: center;
  border: none;
  border-bottom: 1px solid rgb(255, 94, 0);
  outline: none;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  transition: all 2s ease-in-out;
}
.bookInput {
  min-width: 80vw;
  min-height: 100%;
  align-items: center;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  outline: none;
  color: rgb(255, 255, 255);
  background-color: rgba(0.49, 0.49, 0.49, 0.49);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: all 2s ease-in-out;
}

.titleSmall {
  /* your smaller styles */
  transition: all 1s ease-in-out;
  position: absolute;
  top: 0;
  left: 30px;
}

.queryInput[type="text"] {
  font-size: 50px;
}

.enterQuestion {
  color: #fff;
}

.queryInputContainer {
  border-bottom: 1px solid rgb(255, 255, 255);
}

.queryInputBefore {
  min-width: 80vw;
  min-height: 100%;
  max-height: 20vw;
  height: fit-content;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: none;
  font-size: 50px;
  outline: none;
  color: white;
  resize: vertical;
  border-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: transparent;
  background-color: rgba(0.49, 0.49, 0.49, 0.49);
  transition: all 1s ease-in-out;
}

.submitQueryButton {
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  height: max-content;
  cursor: pointer;
  background-color: black;
}

.queryContainer {
  display: flex;
}

.queryInputAfter {
  position: absolute;
  top: 16rem;
  left: 30px;
  width: 80%;
  border: none;
  font-size: 30px;
  max-height: 60px;
  border-bottom: 1px solid black;
  border-radius: 10px;
  background-color: rgb(0.49, 0.49, 0.49, 0.49);
  color: white;
  resize: none;
  outline: none;
  transition: all 1s ease-in-out;
}

.inputContainer {
  transition: all 1s ease-in-out;
  /* width: fit-content; */
  border: none;
  font-size: 20px;
  padding: 4px;
  margin-top: 20px;
  outline: none;
  color: rgb(49, 49, 49);
  /* your existing styles */
}

.restart {
  position: fixed;
  top: 0;
  right: 0;
  border: 1px solid rgb(80, 80, 80);
  border-bottom-left-radius: 10px;
  padding: 10px;
  background-color: rgb(79, 79, 79);
  color: #c8c8c8;
  cursor: pointer;
  animation: all 5s ease-in-out; 
}

.addRepository {
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  cursor: pointer;
  background-color: black;
}
.submitRepo {
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  height: max-content;
  cursor: pointer;
  background-color: black;
}

.repoContainer {
  margin-bottom: 30px;
  margin-top: 20%;
  color: white;
}

.addedRepoContainer {
  margin-bottom: 20px;
}

.mainInputAndButton {
  display: flex;
}

.repoListContainer {
  /* height: 50vh; */
  overflow: auto;
  /* display: flex; */
  /* flex-direction: column-reverse; */
  margin-bottom: 20px;
}

.buttonStyle {
  padding: 5px;
  margin-left: 10px;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.inputContainerSmall {
  /* your smaller styles */
  transition: all 1s ease-in-out;
  border: none;
  padding: 4px;
  margin-top: 20px;
  outline: none;
  color: rgb(49, 49, 49);
}

.gptResponseContainer {
  display: grid;
  grid-template-columns: 8fr 2fr;
  grid-gap: 1vw 1vw;
  height: 50vh;
  margin-top: 30vh;
}

.topFilesTitle {
  text-align: center;
}

.fileAnnotation {
}

.topFilesListContainer {
  padding-left: 30px;
}

.topFile {
  cursor: pointer;
  width: 90%;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  padding: 10px;
}
.topFile:hover {
  background-color: #522703;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

.topFilesContainer {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  max-height: 100vh;
  overflow: scroll;
  border-radius: 20px;
  padding: 20px;
  line-height: 1.6;
  background-color: rgb(0.49, 0.49, 0.49, 0.49);
  color: #fff !important;
  text-align: justify;
  border: 3px solid #000;
}

@keyframes typing {
  from { height: 0 }
  to { height: 100% }
}

.response {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  max-height: 100vh;
  overflow: scroll;
  border-radius: 20px;
  padding-left: 40px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
  line-height: 1.6;
  background-color: rgb(49, 49, 49, 0.60);
  color: #fff !important;
  width: 70vw;
  border: 3px solid #000;
    animation: typing 1s forwards;
  /* overflow: hidden; */
}


/* The typing effect */
@keyframes typing {
  from { height: 0 }
  to { height: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.historyButton {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.newQuestionButton {
  position: absolute;
  right: 10%;
  padding: 10px;
  top: 30vh;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.response {
  color: #000;
}

.pathLink {
  color: cornflowerblue;
  text-decoration: underline;
  cursor: pointer;
}

/* reset */
.loading:indeterminate {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  margin: 1em auto;
  background: none;
  width: 0.5em;
  height: 0.5em;
  border: 0;
}
.loading:indeterminate::-moz-progress-bar {
  background: none;
}
.loading:indeterminate::-webkit-progress-bar {
  display: none;
}
.loading:indeterminate::-ms-fill {
  animation-name: none;
}

@keyframes spin {
    0% { transform: rotate(  0deg) }
  100% { transform: rotate(360deg) }
}

.loading:indeterminate {
  border: 2em double;
  border-color: gray darkgray;
  border-radius: 50%;
  animation: spin 1s infinite;
}

.error {
  background: #c51212 !important;

  padding: 10px;
  position: relative; 
  display: inline-block;
  box-shadow: 1px 1px 1px #aaaaaa;
  margin-top: 10px;
  border-radius: 10px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  animation: shake1 0.3s linear;
  display: flex;
}
.positive {
  background: #12c512 !important;

  padding: 10px;
  position: relative; 
  display: inline-block;
  box-shadow: 1px 1px 1px #aaaaaa;
  margin-top: 10px;
  border-radius: 10px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
}

@keyframes shake1 {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}



.positive {
  background-color: green;
  bottom: 20px;
}